/*Artfully created by Pippa*/

body{
	font-family: Verdana, Arial, Sans-Serif;
	font-weight: normal;
	font-size: 14px;
	position:relative;
}

h3{
font-weight: bold;
font-size:24px;
}

footer {
	position:absolute;
	background-color:#326872;
	/*height: 100%;*/
	color:white;
	bottom:0;
	left:0;
	right:0;
	margin-bottom:1%;
}
<body>
	<div id="wrapper">
		<div id="header"></div>
		<div id="content"></div>
		<div id="footer"></div>
	</div>
</body>
